[calendars]

[[business]]
path = /home/flock/.local/share/khal/calendars/{{ onepasswordRead "op://r55xvdkisr4zxwfluus5d2dela/6sovjgyqinacc2mgk7yjausiuq/business" }}
type = calendar

[[personal]]
path = /home/flock/.local/share/khal/calendars/{{ onepasswordRead "op://r55xvdkisr4zxwfluus5d2dela/6sovjgyqinacc2mgk7yjausiuq/personal" }}
type = calendar

[locale]
timeformat = %H:%M
dateformat = %Y-%m-%d
longdateformat = %Y-%m-%d
datetimeformat = %Y-%m-%d %H:%M
longdatetimeformat = %Y-%m-%d %H:%M

[default]
default_calendar = business
